<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" #>
<#@ output extension=".txt" #>
<#@ Ev processor="EvDirectiveProcessor" requires="fileName='Sample.visualEv'" #>

Generated material. Generating code in C#.

