<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("c64d6e8a-ce54-4f7b-af2b-f37c48631ed4");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
